:root {
    --clr-red: 7 99% 70%;
    --clr-yellow: 51 100% 49%;
    --clr-white: 0 0% 100%;

    --clr-cyan-dark: 168 34% 41%;
    --clr-cyan-dark-desaturated: 167 40% 24%;

    --clr-blue-dark: 198 62% 26%;
    --clr-blue-dark-desaturated: 212 27% 19%;

    --clr-grayish-blue: 210 4% 67%;
    --clr-grayish-blue-dark: 232 10% 55%;
    --clr-grayish-blue-very-dark: 213 9% 39%;
}