@use '../utility/mixins' as *;

:root {
    --ff-sans: 'Barlow', sans-serif;
    --ff-serif:  'Fraunces', serif;

    --fs-900: 4rem;
    --fs-800: 3.2rem;
    --fs-700: 2.8rem;
    --fs-600: 2rem;
    --fs-500: 1.8rem;
    --fs-400: 1.6rem;
    --fs-300: 1.4rem;

    --letter-spacing-1: -.286px;
    --letter-spacing-2: -.11px;
    --letter-spacing-3: 1px;
    --letter-spacing-4: 5px;

    @include respond(m) {
        --fs-900: 5.6rem;
        --fs-800: 4rem;
        --fs-700: 2.8rem;
        --fs-600: 2rem;
        --fs-500: 1.8rem;
        --fs-400: 1.6rem;
        --fs-300: 1.4rem;
    }
}