@use '../utility/' as *;

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    & > picture {
        width: 100%;
        height: auto;

        & > img {
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center;
        }
    }

    @include respond(l) {
        grid-template-columns: repeat(4, 1fr);
    }
}