@use '../utility/' as *;

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 53.8em;
    background-color: #4ABDF2;
    background-image: url(../images/mobile/image-header.jpg);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;

    @include respond(m) {
        height: 80em;
        height: 100vh;
        background-image: url(../images/desktop/image-header.jpg);
    }

    & .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    & h1 {
        font-weight: 900;
        line-height: 1.2;
        text-align: center;
    }
}